body {
    background-color: rgb(5, 11, 14);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
}


